.formdetail{
    margin: 20px;
    width: 40%;
}
.formdetail .forum{
    width: 90rem;
    border: 1px solid black;
    margin:auto;
}
.formdetail .headerline{
    margin-top: 10px;
    background: rgba(39, 33, 33, 0.925);
}
h4{
    text-decoration: underline;
    margin-bottom: 10px;
}
/* .formdetail .forum .gap{
    margin-bottom: 15px;
} */
input{
    margin-left: 20px;
    margin-right: 20px;
}
select{
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
}
.p_detail{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}
/* .p_detail .width{
    width: 100px;
} */
.p_detail .id{
    margin-left: 10px;
    margin-top: 15px;
}
.p_detail .mobile{
    margin-left: 10px;
    margin-top: 15px;
}




.btn{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-content: space-around;
    margin-top: 50px;
}
button{
    width: 120px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
}
.forum .cancel{
    color: red;
    border: 1px solid red;
    margin-right: 20px;
    margin-left: 100px;
    letter-spacing: 3px;
   
}
.forum .cancel:hover{
    background-color: red;
    color: white;
}
.forum .submit{
    margin-right: 60px;
    margin-left: 20px;
    background-color: rgb(1, 185, 1);
    color: white;
    letter-spacing: 3px;
}
.gap{
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 600;

}
.gap .width{
    border: 1px solid red;
    width: 420px;
    height: 50px;
}
.gap .width .size{
    width: 100px;
    height: 25px;
}